.video-js .vjs-big-play-button {
  border: 2px none cornflowerblue;
  background-color: transparent;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
  background-color: transparent;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  transform: scale(3, 3);
  color: cornflowerblue;
}
.vjs-has-started .vjs-control-bar {
  background-color: transparent;
  justify-content: space-between;
  transform: scale(1.5, 1.5);

  padding: 0px 220px;
  padding-bottom: 50px;
}

.video-js .vjs-progress-control {
  display: none;
}
.video-js .vjs-time-control {
  display: none;
}
.video-js .vjs-picture-in-picture-control {
  display: none;
}
.video-js .vjs-volume-panel {
  justify-self: flex-start;
}
.video-js .vjs-fullscreen-control {
  justify-self: flex-start;
}
.video-js .vjs-fullscreen-control {
  justify-self: flex-end;
}
