.chat {
  background-color: cornflowerblue;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}
.mssg {
  border: 1px solid cornflowerblue;
}
.input {
  width: 100%;
}
.newmessage {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  border: 1px solid cornflowerblue;
}
.messages {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  min-height: 70vh;
  border: 1px solid cornflowerblue;
}
.verticalMenu a.active {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.broadcastItem {
  border: solid 2px cornflowerblue;
}
.info {
  border: solid 2px cornflowerblue;

  padding: 7px;
  font-size: 18px;
}
.info span {
  display: flex;
  align-items: center;
}
.username {
  font-size: 20px;
  margin-right: 10px;
}
.stream_title {
  font-size: 24px;
}
.online {
  content: "";
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 10px;
  margin-right: 10px;
}
.offline {
  content: "";
  height: 20px;
  width: 20px;
  background-color: gray;
  border-radius: 10px;
  margin-right: 10px;
}
.about {
  border: 2px solid cornflowerblue;
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .broadcastItem {
    border: solid 2px cornflowerblue;
  }
}
