.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
}
h2 {
  padding-left: 10px;
  margin-bottom: 10px;
}
.containerLog {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}
.container {
  padding: 10px;
}
.form {
  margin-top: 10px;
  display: grid;
  max-width: 20%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  position: relative;
  animation: example 1s;
}
.form div {
  display: flex;
  justify-content: space-between;
}
.form * {
  margin: 5px 0px;
}
@keyframes example {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}
