@media (min-width: 420px) {
  .container {
    margin: 0 50px;
  }
  .container hr {
    width: 80vw;
  }
  .cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .container {
    margin: 0 50px;
  }
  .container hr {
    width: 80vw;
  }
  .cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 50px;
  }
  .container hr {
    width: 80vw;
  }
  .cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
  }
}
