@media (min-width: 420px) {
  .playerbox {
    border: 2px solid cornflowerblue;
    height: 180px;
    /* width: 80vw; */
    margin-bottom: 5px;
    display: flex;
    position: relative;
    /* justify-content: center; */
  }
}
@media (min-width: 768px) {
  .playerbox {
    border: 3px solid cornflowerblue;
    height: 200px;
    margin-bottom: 5px;
    display: flex;
    /* justify-content: center; */
  }
}
@media (min-width: 1440px) {
  .playerbox {
    border: 3px solid cornflowerblue;
    height: 200px;
    margin-bottom: 5px;
    display: flex;
    /* justify-content: center; */
  }
}
.playerbox img {
  width: 100%;
}
.playerbox object {
  width: 100%;
}
.playerboxTitle {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.stream {
  display: grid;
  grid-template-columns: 20px 1fr;
}
.statusOn {
  justify-self: center;
  align-self: center;
  content: "";
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 5px;
}
.statusOff {
  justify-self: center;
  align-self: center;
  content: "";
  height: 10px;
  width: 10px;
  background-color: gray;

  border-radius: 5px;
}
