.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
}
/* LEFT */
.broadcastItem {
  border: solid 2px cornflowerblue;
}
/* Right */
.about hr {
  height: 1px;
  background-color: cornflowerblue;
  border: none;
}
.about {
  padding: 0px 10px 10px 10px;
}
textarea {
  resize: none;
  margin-right: 10px;
}
.row {
  display: flex;
  padding: 10px 0px;
}

.tip {
  background-color: teal;
  color: white;
  font-size: large;
  animation: saved 2s;
  opacity: 0;
}
.none {
  display: none;
}
@keyframes saved {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
